@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;1,400;1,500&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
}


header {
  position: sticky;
  top: 0;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
    margin: 0%;
    height: 50px;
    align-items: center;
  }

  a {
    text-decoration: none;
    grid-column: -4/-1;
    align-items: center;
    justify-content: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  background-color: black;
  color: aliceblue;
  font-family: 'Afacad', sans-serif;
}

.mydetails {
  background-image: url(./assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 15px 15px;
  border-radius: 15px;

  h1 {
    font-size: 100px;
    margin-bottom: 15px;
    margin-top: 50px;
  }

  p {
    margin-top: 70px;
    font-size: 25px;
  }
}


.me {
  justify-content: space-between;
}

.mypic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

li {
  border-bottom: none;
  border-radius: 50px;

}

#about {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.down {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 100px 0px;
}

a {
  text-decoration: none;
  border: 1px solid aliceblue;
  border-radius: 5px;
  color: aliceblue;
  padding: 0px 5px 1px 5px;
  /* font-family: "Just Another Hand", cursive; */
  width: 15rem;
  text-align: center;
}

a:hover {
  color: black;
  background-color: aliceblue;
}

.selectP {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 50px;
    letter-spacing: 0.2em;
  }

  p {
    font-size: 35px;
  }
}

.formcontainer {
  padding-bottom: 50px;
}

.footercontanier {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Just Another Hand", cursive;
  font-size: 1.5em;
  padding-bottom: 80px;
}

.contanier1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contanier2 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.boxIcons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.location img {
  color: aliceblue;
}

.card {
  height: 400px;
  width: 230px;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
  padding: 10px;

  img {
    width: 100%
  }

  .card-text-wrapper {
    padding: 10px;
  }
}

.submit {
  display: flex;
  justify-content: center;

  input {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: solid 1px aliceblue;
    padding: 5px;
    font-size: 25px;
  }

  input:hover {
    background-color: aliceblue;
    color: black;
  }
}